USE [master]
GO
/****** Object:  Database [QLCH]    Script Date: 12/7/2021 8:19:52 AM ******/
CREATE DATABASE [QLCH]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QLCH', FILENAME = N'D:\mysql serve\MSSQL15.SQLEXPRESS01\MSSQL\DATA\QLCH.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QLCH_log', FILENAME = N'D:\mysql serve\MSSQL15.SQLEXPRESS01\MSSQL\DATA\QLCH_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QLCH].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QLCH]
GO
/****** Object:  Table [dbo].[tbl_CTHOADON]    Script Date: 12/7/2021 8:19:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_CTHOADON](
	[MaHD] [nvarchar](10) NOT NULL,
	[MaHH] [nvarchar](10) NOT NULL,
	[SoLuong] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_CTPHIEUNHAP]    Script Date: 12/7/2021 8:19:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_CTPHIEUNHAP](
	[MaSoPhieu] [nvarchar](10) NOT NULL,
	[MaHH] [nvarchar](10) NOT NULL,
	[SLNhap] [int] NOT NULL,
	[DonGiaNhap] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_HANGHOA]    Script Date: 12/7/2021 8:19:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_HANGHOA](
	[MaHH] [nvarchar](10) NOT NULL,
	[TenHH] [nvarchar](50) NOT NULL,
	[LoaiVai] [nvarchar](20) NOT NULL,
	[Size] [int] NOT NULL,
	[Gia] [int] NOT NULL,
	[NhomThoiTrang] [nvarchar](20) NOT NULL,
	[TinhTrang] [nvarchar](20) NOT NULL,
	[NgayNhap] [date] NOT NULL,
	[SLTonKho] [int] NOT NULL,
	[MaNCC] [nvarchar](10) NOT NULL,
 CONSTRAINT [PK_tbl_HANGHOA] PRIMARY KEY CLUSTERED 
(
	[MaHH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_HOADON]    Script Date: 12/7/2021 8:19:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_HOADON](
	[MaHD] [nvarchar](10) NOT NULL,
	[MaKH] [nvarchar](10) NOT NULL,
	[MaNV] [nvarchar](10) NOT NULL,
	[NgayXuatKho] [date] NOT NULL,
 CONSTRAINT [PK_tbl_HOADON] PRIMARY KEY CLUSTERED 
(
	[MaHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_KHACHHANG]    Script Date: 12/7/2021 8:19:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_KHACHHANG](
	[MaKH] [nvarchar](10) NOT NULL,
	[TenKH] [nvarchar](50) NOT NULL,
	[GTKH] [nvarchar](5) NOT NULL,
	[SDT] [int] NOT NULL,
	[DC] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_tbl_KHACHHANG] PRIMARY KEY CLUSTERED 
(
	[MaKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_NHACUNGCAP]    Script Date: 12/7/2021 8:19:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_NHACUNGCAP](
	[MaNCC] [nvarchar](10) NOT NULL,
	[TenNCC] [nvarchar](50) NOT NULL,
	[DC] [nvarchar](10) NOT NULL,
	[SDT] [int] NOT NULL,
	[LoaiHang] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_tbl_NHACUNGCAP] PRIMARY KEY CLUSTERED 
(
	[MaNCC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_NHANVIEN]    Script Date: 12/7/2021 8:19:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_NHANVIEN](
	[MaNV] [nvarchar](10) NOT NULL,
	[TenNV] [nvarchar](50) NOT NULL,
	[GTNV] [nvarchar](5) NOT NULL,
	[NamSinh] [date] NOT NULL,
	[QueQuan] [nvarchar](50) NOT NULL,
	[ChucVu] [nvarchar](10) NOT NULL,
 CONSTRAINT [PK_NHANVIEN] PRIMARY KEY CLUSTERED 
(
	[MaNV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_PHIEUNHAPKHO]    Script Date: 12/7/2021 8:19:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_PHIEUNHAPKHO](
	[MaSoPhieu] [nvarchar](10) NOT NULL,
	[NgayNhap] [date] NOT NULL,
 CONSTRAINT [PK_tbl_PhieuNhapKho] PRIMARY KEY CLUSTERED 
(
	[MaSoPhieu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_TAIKHOAN]    Script Date: 12/7/2021 8:19:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_TAIKHOAN](
	[UserName] [nvarchar](20) NOT NULL,
	[Password] [nvarchar](20) NOT NULL,
	[HieuLuc] [nvarchar](20) NOT NULL,
	[MaNV] [nvarchar](10) NOT NULL,
 CONSTRAINT [PK_tbl_TAIKHOAN] PRIMARY KEY CLUSTERED 
(
	[UserName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tbl_CTHOADON]  WITH CHECK ADD  CONSTRAINT [FK_tbl_CTHOADON_tbl_HANGHOA] FOREIGN KEY([MaHH])
REFERENCES [dbo].[tbl_HANGHOA] ([MaHH])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[tbl_CTHOADON] CHECK CONSTRAINT [FK_tbl_CTHOADON_tbl_HANGHOA]
GO
ALTER TABLE [dbo].[tbl_CTHOADON]  WITH CHECK ADD  CONSTRAINT [FK_tbl_CTHOADON_tbl_HOADON] FOREIGN KEY([MaHD])
REFERENCES [dbo].[tbl_HOADON] ([MaHD])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[tbl_CTHOADON] CHECK CONSTRAINT [FK_tbl_CTHOADON_tbl_HOADON]
GO
ALTER TABLE [dbo].[tbl_CTPHIEUNHAP]  WITH CHECK ADD  CONSTRAINT [FK_tbl_CTPHIEUNHAP_tbl_HANGHOA] FOREIGN KEY([MaHH])
REFERENCES [dbo].[tbl_HANGHOA] ([MaHH])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[tbl_CTPHIEUNHAP] CHECK CONSTRAINT [FK_tbl_CTPHIEUNHAP_tbl_HANGHOA]
GO
ALTER TABLE [dbo].[tbl_CTPHIEUNHAP]  WITH CHECK ADD  CONSTRAINT [FK_tbl_CTPHIEUNHAP_tbl_PHIEUNHAPKHO] FOREIGN KEY([MaSoPhieu])
REFERENCES [dbo].[tbl_PHIEUNHAPKHO] ([MaSoPhieu])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[tbl_CTPHIEUNHAP] CHECK CONSTRAINT [FK_tbl_CTPHIEUNHAP_tbl_PHIEUNHAPKHO]
GO
ALTER TABLE [dbo].[tbl_HANGHOA]  WITH CHECK ADD  CONSTRAINT [FK_tbl_HANGHOA_tbl_NHACUNGCAP] FOREIGN KEY([MaNCC])
REFERENCES [dbo].[tbl_NHACUNGCAP] ([MaNCC])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[tbl_HANGHOA] CHECK CONSTRAINT [FK_tbl_HANGHOA_tbl_NHACUNGCAP]
GO
ALTER TABLE [dbo].[tbl_HOADON]  WITH CHECK ADD  CONSTRAINT [FK_tbl_HOADON_tbl_KHACHHANG] FOREIGN KEY([MaKH])
REFERENCES [dbo].[tbl_KHACHHANG] ([MaKH])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[tbl_HOADON] CHECK CONSTRAINT [FK_tbl_HOADON_tbl_KHACHHANG]
GO
ALTER TABLE [dbo].[tbl_HOADON]  WITH CHECK ADD  CONSTRAINT [FK_tbl_HOADON_tbl_NHANVIEN] FOREIGN KEY([MaNV])
REFERENCES [dbo].[tbl_NHANVIEN] ([MaNV])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[tbl_HOADON] CHECK CONSTRAINT [FK_tbl_HOADON_tbl_NHANVIEN]
GO
ALTER TABLE [dbo].[tbl_TAIKHOAN]  WITH CHECK ADD  CONSTRAINT [FK_tbl_TAIKHOAN_tbl_NHANVIEN] FOREIGN KEY([MaNV])
REFERENCES [dbo].[tbl_NHANVIEN] ([MaNV])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[tbl_TAIKHOAN] CHECK CONSTRAINT [FK_tbl_TAIKHOAN_tbl_NHANVIEN]
GO
USE [master]
GO
